<p class="h1 text-center" style="color: #654C4F">All Greenhouses</p>

<ul class="list-group"><ul>
  <% @green_houses.each do |gh| %>
  <li class="list-group-item"><strong><%= link_to gh.name, admin_green_house_path(gh) %></strong></li>
  <li class="list-group-item">Location: <%= gh.location %></li>
  <li class="list-group-item">Current number of plants: <%= gh.plant_count %></li>
    <% end %>
</ul>
